/* LOGIN PAGE */


position: relative;
width: 1440px;
height: 900px;

background: #000406;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;

/* Web app Logo */


position: absolute;
width: 75px;
height: 77px;
left: 608px;
top: 201px;

background: url(LogoMakr_0EGRux.png);
opacity: 0.8;

/* Create a new account */


position: absolute;
width: 248px;
height: 32px;
left: 786px;
top: 490px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 29px;

color: #7ADF3C;

/* Forgot your password? */


position: absolute;
width: 269px;
height: 29px;
left: 414px;
top: 493px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;

/* Group 1 */


position: absolute;
width: 283px;
height: 69px;
left: 582px;
top: 542px;

opacity: 0.9;

/* Login */


position: absolute;
width: 105.16px;
height: 56.45px;
left: 670.45px;
top: 554.55px;

font-family: Sansation Light;
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 45px;

color: #000000;


/* Rectangle 3 */


position: absolute;
width: 283px;
height: 69px;
left: 582px;
top: 542px;

background: #7ADF3C;
border-radius: 20px;

/* Group 2 */


position: absolute;
width: 620px;
height: 63px;
left: 414px;
top: 412px;

backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

/* Password */


position: absolute;
width: 150px;
height: 49px;
left: 432px;
top: 426px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #000000;

opacity: 0.7;

/* Rectangle 2 */


position: absolute;
width: 620px;
height: 59.46px;
left: 414px;
top: 412px;

background: rgba(237, 237, 237, 0.95);
border-radius: 10px;

/* Group 3 */


position: absolute;
width: 620px;
height: 64px;
left: 414px;
top: 330px;

opacity: 0.95;

/* Username */


position: absolute;
width: 251.44px;
height: 49px;
left: 432px;
top: 345px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #000000;

opacity: 0.7;

/* Rectangle 1 */


position: absolute;
width: 620px;
height: 60.94px;
left: 414px;
top: 330px;

background: #EDEDED;
border-radius: 10px;

/* Spotify */


position: absolute;
width: 210px;
height: 110px;
left: 372px;
top: 184px;

font-family: Content;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 110px;

color: rgba(255, 255, 255, 0.9);

opacity: 0.9;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Rectangle 4 */


position: absolute;
width: 785px;
height: 523px;
left: 331px;
top: 151px;

background: rgba(230, 255, 218, 0.1);
mix-blend-mode: luminosity;
border-radius: 40px;